[midonet]
name=MidoNet
baseurl={{ midonet_base_url }}/{{ midonet_version }}/{{ midonet_release | default('stable') }}/el{{ ansible_distribution_major_version }}/
enabled=1
gpgcheck=0
gpgkey={{ midonet_base_url }}/midorepo.key

[midonet-openstack-integration]
name=MidoNet OpenStack Integration
baseurl={{ midonet_base_url }}/openstack-{{ openstack_version }}/{{ plugin_release | default('stable') }}/el{{ ansible_distribution_major_version }}/
enabled=1
gpgcheck=0
gpgkey={{ midonet_base_url }}/midorepo.key

[midonet-misc]
name=MidoNet 3rd Party Tools and Libraries
baseurl={{ midonet_base_url }}/misc/stable/el{{ ansible_distribution_major_version }}/
enabled=1
gpgcheck=0
gpgkey={{ midonet_base_url }}/midorepo.key

[mem]
name=MEM
baseurl={{ mem_base_url }}/{{ midonet_release | default('stable') }}/el{{ ansible_distribution_major_version }}/
enabled=1
gpgcheck=0
gpgkey={{ midonet_base_url }}/midorepo.key
