deb [arch=amd64] http://repo.midonet.org/midonet/v{{midonet_version}} {{ midonet_release | default('stable') }} main
deb [arch=amd64] http://repo.midonet.org/openstack-{{openstack_version}} {{ plugin_release | default('stable') }} main
deb [arch=amd64] http://repo.midonet.org/misc stable main
