# {{ midonet_description }}
deb {{ midonet_base_url }}/{{ midonet_version_dir }} {{ midonet_release | default('stable') }} main
# MidoNet OpenStack Integration repository
deb {{ midonet_base_url }}/openstack-{{openstack_version}} {{ plugin_release | default('stable') }} main
# MidoNet 3rd Party Tools and Libraries repository
deb {{ midonet_base_url }}/misc stable main

